


/* FOOTER */
footer {
    width: 100%;
}


@media screen and (max-width: 767px) { /* pra cel */
    .footer-content {
        justify-content: space-between;
    }
}


@media screen and (min-width: 768px) and (max-width: 1650px) { /* pra notebook */ 
    #copyright {
        margin-right: 24%;              
    }
    
    .icons {
        margin-right: 10%;
    }

    .footer-content {
        justify-content: end;
    }
    
}


@media screen and (min-width: 1651px) { /* monitor desktop */
    #copyright {
        margin-right: 24%;             
    }

    .footer-content {
        justify-content: end;
    }
   
}

.footer-content {  
    display: flex;     
    align-items: center;              
    width: 100%;
    background-color: var(--amarelo-claro);
    color: #222;
    list-style-type: none;
    padding: 20px;
}

.icons a {
    color: var(--laranja);
    margin-right: 10px;
}









