

/* HEADER E NAV */

header {
    width: 100%;
}

.sticky-header {
    background-color: rgba(34, 34, 34, 0.1);
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    border-bottom: 1px solid transparent;
    top: 0;    
    width: 100%;
    padding: 10px 50px 10px 20px;
    z-index: 10;    
    position: fixed; 
    transition: background-color 0.3s;    

    display: flex;
    align-items: center;
    justify-content: space-between;    
} 

.sticky-header.scrolled {
    background-color: var(--amarelo-claro); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
    border-bottom: 1px solid #222; 
}

#toggleColor {
    padding: 10px 10px;        
    cursor: pointer;    
    border-radius: 50%;
    background-color: var(--amarelo);    
}

#menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

li {
    display: flex;
    align-items: center;
}

li a {    
    color: #222;   
    transition: color 0.3s;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
}

li a:hover {           
    color:var(--amarelo); 
}

.logo img {
    height: 50px; 
    margin-top: 5px;   
}

#btn-burguer {
    width: 20px; 
    border-top: 2px solid;       
    cursor: pointer; 
    display: none;     
}

#btn-burguer::after, #btn-burguer::before {
    content: '';
    display: block;
    width: 20px; 
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}

#nav.active #btn-burguer {
    border-top-color: transparent;
}

#nav.active #btn-burguer::before {
    transform: rotate(135deg);
}

#nav.active #btn-burguer::after {
    border-top-color: transparent;
    transform: rotate(-135deg);
    top: -7px;
}


@media screen and (max-width: 825px) {  /*pra cel*/  
    
    .sticky-header{
        padding-right: 20px;
    }
    
    #btn-burguer {             
        display: block;
    }
    #menu {
        display: block;                
        position: absolute;
        width: 100%;
        height: 0px;
        transition: 0.6s;
        top: 76px;        
        left: 0;        
        background: var(--amarelo-claro);
        z-index: 2000;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #menu {        
        height: 63vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a, #toggleColor {        
        margin: 1rem auto;
    }
    
}





  
