


.img-container:nth-child(even) {
    float: left; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;    
}
.img-container:nth-child(odd) {
    float: right; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;     
}

#section4 .img-container {
    float:none;
}

/* EFEITO IMG */

.img-container:nth-child(even)  {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.img-container:nth-child(even).visible {
    opacity: 1;
    transform: translateX(0);
}
.img-container:nth-child(odd) {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.img-container:nth-child(odd).visible {
    opacity: 1;
    transform: translateX(0);
}





